
module my-systemd 1.0;

require {
	type init_t;
	type user_home_t;
	class file open;
}

#============= init_t ==============

#!!!! This avc is allowed in the current policy
allow init_t user_home_t:file open;
